<% if @artists.any? %>
  <% @artists.each do |artist| %>
    <h2><%= link_to artist.title, artist_path(artist) %></h2> <%= "Genre: #{artist.genre}" %>
    <h4> <%= "#{artist.title} - Songs" %> </h4>
    <ul>
      <% artist.songs.each do |song| %>
        <li>
          <%= "Title - #{song.title}" %>&nbsp;<%= " Rating #{song.rating}" %>
          <ul>
              <li>
                <%= "Video: #{song.video.video_title}" %>&nbsp;<%="City Filmed: #{find_city(song.city_id)}"%>
              </li>
          </ul>
        </li>
      <% end %>
    </ul>
    <div class="btn-group">
      <%= link_to "Edit and Rate #{artist.title}", edit_artist_path(artist), :html => { :class => "btn" }%>&nbsp;
      <%= link_to "Delete #{artist.title}", artist_path(artist), {method: :delete, :html => { :class => "btn" }}%>
    </div>
  <% end %>
<% else %>
  <h1>No artists yet</h1>
<% end %>
